.winsm {
  flex: 1;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-right: 20px;
  padding: 20px;
  height: 300px;
}

.winScrol{
  overflow-y: scroll;
  height: 90%;
}

.winsmTitile {
  font-size: 32px;
  font-weight: bold;
}
