.parent{
    width: 100%;
}

.parentDashboard{
    width: 80%;
    margin: 20px auto;
    background: white;
}
.parentDashboardCallMode{
    width: 100%;
    margin: auto;
    background: blueviolet;
    height: calc( 100vh - 60px);
    padding: 10px;
}

.dashElements{
    width: 20%;
    background: rgb(208, 208, 223);
    float: left;
    position: fixed;
}

.parentDashViewer{
    float: right;
    width: 74.8%;
    position: relative;
}

.dashItems .url{
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    align-items: center;
    color: inherit;
}

.disappear{
    display: none;
}

.dashItems:hover{
    background: white;
    border-top-right-radius: -10px;
    border-bottom-right-radius: -10px;
}

.dashItems li{
    margin-left: 3px;
    list-style: none;
}

