.miles {
  display: flex;
}
.abssidebar {
  flex: 1;
  height: calc(100vh - 60px);
  padding: 10px 20px;
  background: rgb(208, 208, 233);
}

.activesidebar {
  flex: 4;
}

.abssidebarTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.abssidebarMobile {
  width: 80px;
  height: 100vh;
  background: blue;
}

.absidebarTop {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.abssidebarTopTitle {
  font-size: 20px;
  font-weight: bold;
}

.absidebarImg {
  width: 60px;
  margin-right: 10px;
}

.div1 {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.absidebarTop > span {
  font-size: 20px;
  font-weight: bold;
}

.sidebarInput {
  display: flex;
  align-items: center;
  margin: 15px 0;
  background: rgb(208, 208, 223);
  border: 1px solid gray;
  height: 40px;
  border-radius: 5px;
}

.sidebarInput > input {
  border: none;
  outline: none;
  background: none;
}

.searchIcon {
  margin: 0 10px;
  color: gray;
  font-size: 15px;
}
/* 
li {
  list-style: none;
} */

.sidebarItem {
  list-style: none;
}
.sidebarItemList,
.sidebarItemList1 {
  list-style: none;
  color: #444;
  margin: 10px 0;
  cursor: pointer;
}

.sidebarItemList1 {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(182, 181, 181);
  cursor: pointer;
}

.inactive {
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  background: rgb(193, 193, 214);
  transition: 0.5s ease;
}

.inactive:hover {
  background: rgb(182, 181, 181);
}
.chev {
  float: right;
  margin-right: 10px;
  align-items: center;
  margin-top: 5px;
}
.dropdownList {
  border-left: 1px solid gray;
  box-sizing: border-box;
  padding-left: 20px;
  color: #444;
  margin-left: 15px;
  list-style: none;
}

.dropdownItem {
  cursor: pointer;
  margin: 10px 0;
}

.drop {
  display: none;

  transition: 0.5s ease-in-out;
}

.sidbarDropIcon {
  margin-right: 10px;
}
