.abssidebar {
  flex: 1;
  height: 100vh;
  padding: 10px 20px;
  background: rgb(208, 208, 233);
}

.abssidebarTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.abssidebarMobile {
  width: 80px;
  height: 100vh;
  background: blue;
}

.absidebarTop {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.abssidebarTopTitle {
  font-size: 20px;
  font-weight: bold;
}

.absidebarImg {
  width: 60px;
  margin-right: 10px;
}

.div1 {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.absidebarTop > span {
  font-size: 20px;
  font-weight: bold;
}
