.Atopbar {
  background: white;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: sticky;
  top: 0;
}

.AtopbarLeft {
  display: flex;
  align-items: center;
}
.AtopbarLeft img {
  width: 40px;
  margin-right: 5px;
}

.AtopbarProfilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
