.messageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background: whitesmoke;
}

.messageWrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.messageSidebar {
  background: rgb(208, 208, 223);
  height: 80vh;
  padding: 0 10px;
  flex: 1;
  overflow-y: scroll;
}

.messageContent {
  flex: 3;
  margin-left: 1px;
  padding: 20px;
  background: rgb(208, 208, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

.noChatYet {
  color: #222;
  font-size: 70px;
  text-align: center;
  font-weight: 900;
  text-transform: capitalize;
}

.messageContentWrapper {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
}

.messageContentWrapper::-webkit-scrollbar-track {
  background: rgb(170, 170, 189);
}

.messageContentWrapper::-webkit-scrollbar {
  width: 5px;
}

.messageContentWrapper::-webkit-scrollbar-thumb {
  background: gray;
}

.messageSidebar::-webkit-scrollbar {
  width: 5px;
}

.messageSidebar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.messageSidebar::-webkit-scrollbar-track {
  background: rgb(170, 170, 189);
  padding: 10px;
}

.mess {
  display: flex;
  align-items: center;
  background: rgb(183, 183, 199);
  padding: 10px;
  color: #222;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s ease;
  margin: 10px 0;
}

.messName {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.messDec {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mess:hover {
  background: rgb(170, 170, 189);
}

.messImg {
  width: 50px;
  margin-right: 10px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
