.campus {
  width: 90%;
  margin: 20px auto;
}

.campus h4 {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.campusContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.campusCont {
  position: relative;
}

.campusCont {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.campusCont img {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.div {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
  opacity: 0;
  transition: 1s ease;
  color: whitesmoke;
}

.div:hover {
  opacity: 1;
}

@media (max-width: 700px) {
  .campusContainer {
    flex-wrap: wrap;
  }
  .campus {
    width: 100%;
    margin: 20px auto;
  }
  .campusCont {
    margin: 10px 0;
  }
  img {
    width: 100%;
  }
  .campusCont img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1030px) {
  .campusCont img {
    margin: 20px;
  }
}
