.reportCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
}

.reportTop{
    display: flex;
    align-items: flex-end;
    width: 100%;
    background: blue;
}

.reportTop button{
    padding: 6px 40px;
    cursor: pointer;
    border: none;
    align-self: flex-end;
}

.reportContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
}

.reportTopContainer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: white;
}

.reportTopContainerLeft,
.reportTopContainerRight{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: white;
}

.reportTopContainerLeft p,
.reportTopContainerRight p{
    font-weight: normal;
    text-transform: capitalize;
}

.mevreport{
    margin-top: 40px;
    margin-bottom: 10px;
}

.motto{
    font-size: 10px;
    text-align: center;
}

.reporttopHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.nameofStudent{
    font-size: 12px;
    line-height: 20px;
}

.reportTopHeaderRightt img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}



.gender{
    font-size: 12px;
    line-height: 20px;
}

.timetableDateadjd{
    font-size: 10px;
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
}

.timetableDateReportCard{
    font-size: 10px;
}