.sidebar {
  flex: 1;
  background: rgb(225, 225, 248);
  position: sticky;
  top: 50px;
  height: calc(100vh - 60px);
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-top: 10px;
}

.sidebarTitle {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
  color: rgb(156, 154, 154);
}

.sidebarlinks {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.td {
  text-decoration: none;
  color: gray;
}

.sidebarlinks.active {
  background: rgb(208, 208, 233);
  border-radius: 5px;
}

@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
