.blog {
  width: 100%;
  background: whitesmoke;
  height: 100%;
  padding: 20px;
}

.blogError {
  width: 100%;
  background: whitesmoke;
  height: 100%;
  /* padding: 20px; */
}

.blogContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 70px auto;
}

.error{
  height: calc( 100vh - 60px);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .blogContainer {
    width: 100%;
    margin: 0 auto;
  }
}
