.id{
    position: relative;
    width: 100%;
    height:calc( 100vh - 100px);
    background: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.idcontainer h3{
    cursor: pointer;
}


.idcard{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,0, 0, 0.5);
    align-items: center;
    justify-content:  center;
    display: flex;
    flex-direction: column;
    
}

.idbtn{
    padding: 7px 50px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

.idContainer{
    width: 55%;
    height: 45%;
    background: white;
    border-radius: 10px;

}

.idImg{
    width: 200px;
    height: 233px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.idTop{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: rgb(63, 13, 13);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    color: white;
}

.idTop img{
    width: 50px;
}

.idTop p{
    font-weight: 700;
}

.idMiles{
    width: 100%;
    display: flex;
}

.idLeft{
    width: 40%;
    padding: 5px;
}

.idLeft img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}


.idRight{
    width: 60%;
    position: relative;
    margin-left: 10px;
}

.idRight p{
    margin: 3px;
}

.idRight button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btnPrint{
    padding: 6px 50px;
    background: white;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}