.contact{
  height: calc( 100vh - 60px);
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContainer{
  height: 80%;
  width: 70%;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contactLeftside{
  width: 60%;
  height: 100%;
  background: rgb(226, 232, 238);
  padding: 20px;
}

.contactIOne{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactInputIitem{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.contactInputIitem > label{
  margin-bottom: 7px;
}

.contactInputIitem > input{
  height: 40px;
  border: none;
  background: whitesmoke;
  outline: none;
  width: 95%;
  padding:0 10px;
}

.contactInputIitems{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.contactInputIitems > label{
  margin-bottom: 7px;
}

.contactInputIitems > input{
  height: 40px;
  border: none;
  background: whitesmoke;
  outline: none;
  width: 91%;
  padding:0 10px;
}


.contactInputIitem > textarea{
  height: 40px;
  border: none;
  background: whitesmoke;
  outline: none;
  width: 95%;
  padding: 10px;
  height: 100px;
  resize: none;
}

.contactSender{
  padding: 8px 15px;
  background: #888888;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  border-radius: 5px;
  font-weight: bold;
}


.contactRightSide{
  background-image:linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.3)), url("../images/mevick.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 40%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .contact{
    height: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contactContainer{
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
}