.what {
  width: 90%;
  margin: 0 auto;
}

.what h4 {
  margin: 20px;
  text-align: center;
}

.whatContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont {
  background: whitesmoke;
  margin: 10px 10px;
  padding: 10px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.cont .title {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 700px) {
  .whatContainer {
    flex-direction: column;
  }
}
